body {
    background-color: blanchedalmond;
    font-family:'Courier New', Courier, monospace;
}

main {
    text-align: center;
}

table, td, th {
    border: solid black 1px;
    border-right-color: gray;
    border-left-color: gray;
    text-align: center;
    padding: 1em;
}
table {
    border-collapse: collapse;
    border-width: 2px;
    border-color: black;
}
th {
    font-size: 2em;
}