* {
    --headerHeight: 6em;
}

body {
    background-color: blanchedalmond;
    font-family:'Courier New', Courier, monospace;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--headerHeight);
    background-color: blanchedalmond;
    z-index: 2;
}

main {
    position: absolute;
    top: var(--headerHeight);
    text-align: center;
    z-index: 0;
}

table, td, th {
    border: solid black 1px;
    border-right-color: gray;
    border-left-color: gray;
    text-align: center;
    padding: 1em;
}
table {
    border-collapse: collapse;
    border-width: 2px;
    border-color: black;
}
th {
    font-size: 2em;
}
td span {
    background-color: blanchedalmond;
    position: relative;
    z-index: 1;
}